*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* header */
header{
    background-color: rgb(255, 255, 255);
}

/* intro */
.inicio{
    background-image: url(../image/familia.jpeg);
    color: white;
    text-decoration: none;
    padding-top: 6rem;
    padding-bottom: 2rem;
    padding-left: 16%;
}

.texto-inicio{
    padding-bottom: 0.5rem;
}

.h1-inicio{
    font-size: 4rem;
}

/* card */
article{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }

.card{
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}