*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/* header */
header{
    background-color: rgb(255, 255, 255);
}

/* intro */
.inicio{
    background-image: url(../image/familia.jpeg);
    color: white;
    text-decoration: none;
    padding-top: 6rem;
    padding-bottom: 2rem;
    padding-left: 16%;
}

.texto-inicio{
    padding-bottom: 0.5rem;
}

.h1-inicio{
    font-size: 4rem;
}

/* card */
.card-bs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }

.card{
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

/* carousel */
.carousel-bs{
    padding-top: 1.5rem;
}

/* footer */
.footer-links{
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.5rem;
    padding-top: 1rem;
    background-color: rgb(4, 62, 100);
    color: white;
}

.text-foteer-links{
    list-style: none;
}

.copyright{
    color: white;
    font-size: 1px;
    background-color: black;
    text-align: center;
}

.text-copyright{
    font-size: 12px;
    padding:4px;
}

a:visited{
    color: white;
}

a:active{
    color: white;
}

a:link{
    color: white;
}

a:hover{
    color: white;
}

/* viajes.html */
.titulo-viajes{
    font-size: 2.5rem;
    color: white;
    text-align: center;
    background-color: rgb(4, 62, 100);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.form-viajes-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form-viajes{
    font-size: 18px;
    margin-left: 1.2rem;
    padding: 10px;
}

.form-buscador{
    font-size: 18px;
    margin-left: 0.5rem;
    padding: 10px;
}

/* contacto.html */
.section-contacto{
    text-align: center;
}

.h1-contacto{
    color: white;
    font-size: 2.5rem;
    background-color: rgb(4, 62, 100);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.space-contacto{
    padding-top: 5px;
    padding-bottom: 5px;
}

.space-form-contacto{
    padding-top: 8px;
    padding-bottom: 8px;
}